<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avai Answer</title>
    <!-- Add your stylesheet links or other head content here -->
</head>
<body>
    <div id="answerContainer">
        {% if user_input %}
            <p>{{ user.username }}: {{ user_input }}</p>
        {% endif %}
        <p id="answerText">Avai: {{answer}}<span id="typedAnswer"></span></p>

        <audio id="answerAudio" onended="pauseAudio()">
            <source src="{% static 'answer.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        
    </div>

    
    <!-- Add your additional scripts or other body content here -->
</body>
</html>
