<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Home Mapp</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'chat/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'chat/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'chat/assets/css/templatemo-grad-school.css' %}">
    <link rel="stylesheet" href="{% static 'chat/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'chat/assets/css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'chat/assets/css/custom.css' %}">
      
</head>

<body>

    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">
        <div class="video-container">
        <video autoplay muted loop id="bg-video">
            <source src="{% static 'chat/assets/images/course-video.mp4' %}" type="video/mp4" />
        </video>

       
            {% comment %} <img src="{% static 'chat/assets/images/Picture1.png' %}" alt="Placeholder Image" id="bg-image" class="fallback-image" 
            style="width: 100%; height:640px;"> {% endcomment %}
        </div>
    </div>
        <div class="video-overlay header-text">
            <div class="caption fully-chats">
                <section class="msger">
                    <header class="msger-header">
                        <div class="msger-header-title">
                            <a href="/" style="color: #000000;"> <i class="fa fa-envelope"></i> 
                                {{user.username}} </a>
                        </div>
                        <div class="msger-header-options">
                            <span><img src="{%static 'chat/assets/images/author-01.png' %}"
                                    style="width: 40px;"></span>
                        </div>
                    </header>

                    <main class="msger-chat" id="msger-chat">
                        <!-- Chat messages will appear here -->
                    </main>

                    <form method="post" class="msger-inputarea" id="questionForm">
                        {% csrf_token %}
                        <input type="text" name="user_input" class="msger-input" placeholder="Enter your message..."
                            id="userInput">
                        <button type="submit" class="msger-send-btn">Send</button>
                    </form>
                </section>
                <!-- col-6 -->
            </div>
        </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->

    <!-- Scripts -->
    <script src="{% static 'chat/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'chat/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'chat/assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'chat/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'chat/assets/js/lightbox.js' %}"></script>
    <script src="{% static 'chat/assets/js/tabs.js' %}"></script>
    <script src="{% static 'chat/assets/js/video.js' %}"></script>
    <script src="{% static 'chat/assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'chat/assets/js/custom.js' %}"></script>


{% comment %} <script>
    document.addEventListener('DOMContentLoaded', function () {
        const video = document.getElementById("bg-video");
        const image = document.getElementById("bg-image");

        // Show the image initially
        image.style.display = "block";
        video.style.display = "none";

        document.getElementById('questionForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const userInput = document.getElementById('userInput').value;
            const xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        try {
                            const msgerChat = document.getElementById('msger-chat');
                            const msgHTML = `
                                <div class="msg left-msg">
                                    <div class="msg-img" style="background-image: url(/static/chat/assets/images/author-01.png)"></div>
                                    <div class="msg-bubble">
                                        <div class="msg-info">
                                            <div class="msg-info-name">Avai </div>
                                            <div class="msg-info-time">${formatDate(new Date())}</div>
                                        </div>
                                        <div class="msg-text">${xhr.responseText}</div>
                                    </div>
                                </div>
                            `;
                            msgerChat.insertAdjacentHTML("beforeend", msgHTML);

                            document.getElementById('userInput').value = '';

                            // Toggle video and image visibility based on the response
                            if (xhr.responseText.trim() !== "") {
                                console.log("Answer generated. Playing video.");
                                image.style.display = "none";  // Hide the image
                                video.style.display = "block";  // Show the video
                                video.play();  // Start playing the video

                                // Dynamically set the audio source based on the response
                                const audio = document.getElementById("answerAudio");
                                audio.src = `static/answer.mp3?${Date.now()}`; // Add timestamp
                                audio.play();  // Start playing the audio

                                // Pause the video when the audio playback ends
                                audio.addEventListener('ended', function () {
                                    video.pause();  // Pause the video
                                    image.style.display = "block";  // Show the image
                                    video.style.display = "none";  // Hide the video
                                });
                            } else {
                                console.log("No answer generated. Displaying image.");
                                // Hide the video and show the image
                                video.pause();  // Pause the video
                                image.style.display = "block";  // Show the image
                                video.style.display = "none";  // Hide the video
                            }

                            msgerChat.scrollTop = msgerChat.scrollHeight;
                        } catch (error) {
                            console.error('Error updating chat:', error);
                        }
                    } else {
                        console.error('Error:', xhr.status, xhr.statusText);
                        // Customize error handling based on status
                        const msgerChat = document.getElementById('msger-chat');
                        displayErrorMessage(msgerChat, 'Sorry, an error occurred while processing your request.');
                    }
                }
            };

            xhr.open('GET', `/get_answer/?user_input=${encodeURIComponent(userInput)}`, true);
            xhr.send();
        });

        // Utils
        function formatDate(date) {
            const h = "0" + date.getHours();
            const m = "0" + date.getMinutes();
            return `${h.slice(-2)}:${m.slice(-2)}`;
        }
    });
</script> {% endcomment %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const video = document.getElementById("bg-video");
        const image = document.getElementById("bg-image");

        // Show the image initially
        image.style.display = "block";
        video.style.display = "none";

        document.getElementById('questionForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const userInput = document.getElementById('userInput').value;
            const xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        try {
                            const msgerChat = document.getElementById('msger-chat');
                            const msgHTML = `
                                <div class="msg left-msg">
                                    <div class="msg-img" style="background-image: url(/static/chat/assets/images/author-01.png)"></div>
                                    <div class="msg-bubble">
                                        <div class="msg-info">
                                            <div class="msg-info-name">Avai </div>
                                            <div class="msg-info-time">${formatDate(new Date())}</div>
                                        </div>
                                        <div class="msg-text">${xhr.responseText}</div>
                                    </div>
                                </div>
                            `;
                            msgerChat.insertAdjacentHTML("beforeend", msgHTML);

                            document.getElementById('userInput').value = '';

                            // Toggle video and image visibility based on the response
                            if (xhr.responseText.trim() !== "") {
                                console.log("Answer generated. Playing video.");
                                image.style.display = "none";  // Hide the image
                                video.style.display = "block";  // Show the video
                                video.play();  // Start playing the video

                                // Dynamically set the audio source based on the response
                                const audio = document.getElementById("answerAudio");
                                audio.src = `static/answer.mp3?${Date.now()}`; // Add timestamp
                                audio.play();  // Start playing the audio

                                // Pause the video when the audio playback ends
                                audio.addEventListener('ended', function () {
                                    video.pause();  // Pause the video
                                    image.style.display = "block";  // Show the image
                                    video.style.display = "none";  // Hide the video
                                });
                            } else {
                                console.log("No answer generated. Displaying image.");
                                // Hide the video and show the image
                                video.pause();  // Pause the video
                                image.style.display = "block";  // Show the image
                                video.style.display = "none";  // Hide the video
                            }

                            msgerChat.scrollTop = msgerChat.scrollHeight;
                        } catch (error) {
                            console.error('Error updating chat:', error);
                        }
                    } else {
                        console.error('Error:', xhr.status, xhr.statusText);
                        // Customize error handling based on status
                        const msgerChat = document.getElementById('msger-chat');
                        displayErrorMessage(msgerChat, 'Sorry, an error occurred while processing your request.');
                    }
                }
            };

            xhr.open('GET', `/get_answer/?user_input=${encodeURIComponent(userInput)}`, true);
            xhr.send();
        });

        // Utils
        function formatDate(date) {
            const h = "0" + date.getHours();
            const m = "0" + date.getMinutes();
            return `${h.slice(-2)}:${m.slice(-2)}`;
        }
    });
    
</script>
</body>

</html>
