<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>HomeMapp home page</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{%static 'assets/img/favicon.png'%}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css'%}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/font-awesome.min.css'%}">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/feathericon.min.css'%}">
		
		<link rel="stylesheet" href="{%static 'assets/plugins/morris/morris.css'%}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
        
    
    </head>
    <body>
        {% include 'header.html'%}
        {% include 'sidebar.html'%}
      {% block content %}
     
        
       {% endblock  %}
    </body>
		<!-- jQuery -->
       
        <script src="{%static 'assets/js/jquery-3.6.0.min.js'%}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{%static 'assets/js/bootstrap.bundle.min.js'%}"></script>
		
		<!-- Slimscroll JS -->
        <script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>
		
		<script src="{%static 'assets/plugins/raphael/raphael.min.js'%}"></script>    
		<script src="{%static 'assets/plugins/morris/morris.min.js'%}"></script>  
		<script src="{%static 'assets/js/chart.morris.js'%}"></script>
		
		<!-- Custom JS -->
		<script  src="{%static 'assets/js/script.js'%}"></script>
		
            <!-- DATATABLES  -->
    <!--TEXT EDITOR SCRIPT START TEXT EDITOR SCRIPT START TEXT EDITOR SCRIPT START -->
         <script type="text/javascript" src="https://cdn.ckeditor.com/4.5.1/standard/ckeditor.js">
             </script>
             <script type="text/javascript">
            //resize CKEditor with customised height and width
         CKEDITOR.editorConfig = function (config) {
            config.language = 'es';
            config.uiColor = '#F7B42C';
            config.height = 300;
            config.toolbarCanCollapse = true;
        
        };
        CKEDITOR.replace('myeditor');
            </script>    
    <!--DATATABLES SCRIPT START DATATABLES SCRIPT START DATATABLES SCRIPT START DATATABLES SCRIPT START -->
            <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
             <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
              <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
                  <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
                   <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
                   <script>
                    new DataTable('#example');
                </script>
               
</html>