{% extends 'base.html'%}
{% block content %}

			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<div class="card full-header">
									<div class="users">
										<h3 class="page-title">Chat Add Question </h3>
									</div>
									{% if messages %}
									<div class="messages">
									   {% for message in messages %}
										  <div class="alert alert-{{ message.tags }}">
											 {{ message }}
										  </div>
									   {% endfor %}
									</div>
								 {% endif %}
									<div class="user-box">
										<form method="post" action="{% url 'save_question_answer' %}" enctype="multipart/form-data" class=" row" >
											{% csrf_token %}
											<div class="form-group col-sm-6">
												<label>Question</label>
												{{question_form.question}}
											</div>
											<div class="form-group col-sm-6">
												<label>Answer</label>
												{{question_form.answer}}
											</div>
										
											<div class="form-group col-sm-12">
												<div class="submit">
													<input type="submit" class="form-control bg-submits" value=" Submit">
											
												
													{% comment %} <a href="#" class="form-control bg-submits"> Submit</a> {% endcomment %}
												</div>
											
											</div>
										</form>


									</div>
									{% comment %} <form method ="post" action="{% url 'import_excel' %}">
										{% if messages %}
										<div class="messages">
											{% for message in messages %}
												<div class="alert alert-{{ message.tags }}">
													{{ message }}
												</div>
											{% endfor %}
										</div>
									{% endif %}
										{% csrf_token %}
										<div class="form-group col-sm-12">
											<label for="excel_file">Import Excel File</label>
											<input type="file" name="excel_file" id="excel_file" accept=".xls, .xlsx">
										</div>
											 {% endcomment %}

											{% comment %} <div class="submit">
												<input type="submit" class="form-control bg-submits" value="Import">
												
											
												{% comment %} <a href="#" class="form-control bg-submits"> Submit</a> 
											</div> {% endcomment %}
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							
						</div>			
					</div>
					
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
		
		{% comment %} <!-- jQuery -->
        <script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Custom JS -->
		<script  src="assets/js/script.js"></script>
		
    </body>
</html> {% endcomment %}
{% endblock %}