{% extends 'base.html'%}
{% block content %}

			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<div class="card full-header">
									<div class="users">
										<h3 class="page-title">Chat Add Question </h3>
									</div>
									{% if messages %}
									<div class="messages">
									   {% for message in messages %}
										  <div class="alert alert-{{ message.tags }}">
											 {{ message }}
										  </div>
									   {% endfor %}
									</div>
								 {% endif %}
									<div class="user-box">
										<form method="post" enctype="multipart/form-data" class="row">
											{% csrf_token %}
											<div class="form-group col-sm-6">
												<div class="dropdown user-selects">
													<label for="id_title">Hotel</label>
													<button class="btn btn-default text-left form-control dropdown-toggle" type="button" data-toggle="dropdown">
														<span class="dropdown-text"> Select Options</span>
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu">
														<li><a href="#"><label><input type="checkbox" class="selectall" /><span class="select-text"> Select</span> All</label></a></li>
														<li class="divider"></li>
														{% for user in question_form.hotel.field.queryset %}
															<li>
																<a href="#">
																	<label>
																		<input id="id_hotel" name='hotel' type="checkbox" class="option justone" value="{{ user.id }}"/>
																		{{ user.property_name }}
																	</label>
																</a>
															</li>
														{% endfor %}
													</ul>
												</div>
											</div>
										
											<div class="form-group col-sm-6">
												<label for="id_title">Room</label>
												<select id="id_room" name="room" class="form-control">
													<!-- Options will be dynamically populated using JavaScript -->
												</select>
											</div>
										
											<div class="form-group col-sm-6">
												<label>Question</label>
												{{ question_form.question }}
											</div>
										
											<div class="form-group col-sm-6">
												<label>Answer</label>
												{{ question_form.answer }}
											</div>
										
											<div class="form-group col-sm-12">
												<div class="submit">
													<input type="submit" class="btn btn-primary" value="Submit">
												</div>
											</div>
										</form>
									<div class="import mb-3">
										<a href="{% url 'import_csv' %}">
											<input type="submit" class="btn btn-success bg-submits" value="Import Csv/Excel File">
										</a>
									</div>

									</div>
									{% comment %} <form method ="post" action="{% url 'import_excel' %}">
										{% if messages %}
										<div class="messages">
											{% for message in messages %}
												<div class="alert alert-{{ message.tags }}">
													{{ message }}
												</div>
											{% endfor %}
										</div>
									{% endif %}
										{% csrf_token %}
										<div class="form-group col-sm-12">
											<label for="excel_file">Import Excel File</label>
											<input type="file" name="excel_file" id="excel_file" accept=".xls, .xlsx">
										</div>
											 {% endcomment %}

											{% comment %} <div class="submit">
												<input type="submit" class="form-control bg-submits" value="Import">
												
											
												{% comment %} <a href="#" class="form-control bg-submits"> Submit</a> 
											</div> {% endcomment %}


										</div>
									
								</div>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							
						</div>			
					</div>
					
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
		<script>
			$(document).ready(function () {
				$("#id_hotel").change(function () {
					var selectedHotelIds = $("input[name='hotel']:checked").map(function () {
						return this.value;
					}).get();
		
					$.ajax({
						url: '/get_rooms1/',
						type: 'POST',
						data: {
							'hotel_ids': selectedHotelIds,
							'csrfmiddlewaretoken': '{{ csrf_token }}'
						},
						dataType: 'json',
						success: function (data) {
							var roomDropdown = $("#id_room");
							roomDropdown.empty();
		
							$.each(data.rooms, function (index, room) {
								roomDropdown.append('<option value="' + room.id + '">' + room.room_number + '</option>');
							});
						},
						error: function (xhr, status, error) {
							console.error(xhr.responseText);
						}
					});
				});
			});
		</script>
		



		
		<!-- /Main Wrapper -->
		
		{% comment %} <!-- jQuery -->
        <script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Custom JS -->
		<script  src="assets/js/script.js"></script>
		
    </body>
</html> {% endcomment %}
{% endblock %}