{% extends 'base.html'%}
{% block content %}
	
	
	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<div class="page-wrapper">
			
                <div class="content container-fluid">
					
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-md-8">
								<h3 class="page-title">Welcome To HomeMapp  Admin!</h3>
							</div>
							<div class="col-md-4">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'dashboard'%}">Dashboard</a></li>
									<li class="breadcrumb-item active">Dashboard</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					
                   
                    <div class="row">
                     
                            <div class="col-lg-3 col-6">
                                <a href="{% url 'View_property_owner' %}">
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>Property Owner</h3>
                                        <p>{{ property_owner_count }}</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-shopping-bag"></i>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar w-50"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'View_question' %}">
                        <div class="col-lg-3 col-6">
                            <a href="{% url 'View_question' %}">
                        <div class="small-box bg-success">
                        <div class="inner">
                        <h3>Total Question</h3>
                        <p>{{question_count}}</p>
                        </div>
                        <div class="icon">
                        <i class="fa fa-bars"></i>
                        </div>
                       <div class="progress progress-sm">
											<div class="progress-bar w-50"></div>
										</div>
                        </div>
                        </div>
                    </a>
                        {% comment %} <div class="col-lg-3 col-6">

                        <div class="small-box bg-warning">
                        <div class="inner">
                        <h3>Total Guest</h3>
                        <p>1233</p>
                        </div>
                        <div class="icon">
                        <i class="fa fa-user-plus"></i>
                        </div>
                       <div class="progress progress-sm">
											<div class="progress-bar w-50"></div>
										</div>
                        </div>
                        </div>

                        <div class="col-lg-3 col-6">

                        <div class="small-box bg-danger">
                        <div class="inner">
                        <h3>Manage Property</h3>
                        <p>54</p>
                        </div>
                        <div class="icon">
                        <i class="fa fa-pie-chart"></i>
                        </div>
                       <div class="progress progress-sm">
											<div class="progress-bar w-50"></div>
										</div>
                        </div>
                        </div>

                        </div> {% endcomment %}

                   <!--  -->
					<div class="row">
						<div class="col-md-12 col-lg-12">
						
							{% comment %} <!-- Sales Chart -->
							<div class="card card-chart bg-border">
								<div class="card-header">
									<h4 class="card-title">Sales Overview</h4>
								</div>
								<div class="card-body">
									<div id="morrisArea"></div>
								</div>
							</div>
							<!-- /Sales Chart --> {% endcomment %}
							
						</div>	
					</div>
				</div>			
			
			<!-- /Page Wrapper -->
			<div>
				<div>
       
		<!-- /Main Wrapper -->
{% endblock %}

<script>



</script>