{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
	/* styles.css */
.custom-checkbox-list label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
}

.custom-checkbox-list input {
    margin-right: 5px;
}
.dropdownu .user-selects {
    position: relative;
    left: 0px;
    top: 0px;
  }
  ul.dropdown-menu.show {
    width: 100%;
    padding: 10px 10px;
}
ul.dropdown-menu.show li a label {
    color: black;
    text-transform: capitalize;
}
</style>
    <div class="page-wrapper">
        <div class="content container-fluid">
            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card full-header">
                            <div class="text-editor">
                                <div class="users">
                                    <h3 class="page-title">Notification</h3>
                                </div>
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        {% comment %} <div class="form-group col-sm-6">
                                            <label for="id_users">User</label>
                                            {{ form.users }}
                                        </div> {% endcomment %}
                                        <div class="form-group col-sm-6">
                                            <div class="dropdown user-selects">
                                                <label for="id_title">User</label>
                                                <button class="btn btn-default text-left form-control dropdown-toggle" type="button" data-toggle="dropdown"><span class="dropdown-text"> Select Options</span>
                                                <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                 
                                             <li><a href="#"><label><input type="checkbox" class="selectall" /><span class="select-text"> Select</span> All</label></a></li>
                                                  <li class="divider"></li>
                                                  <li><a class="option-link" href="#"><label><input name='options[]' type="checkbox" class="option justone" value='Option 1 '/>  {{ form.users }} </label></a></li>
                                                  {% comment %} <li><a href="#"><label><input name='options[]' type="checkbox" class="option justone" value='Option 2 '/> Option 2</label></a></li>
                                                  <li><a href="#"><label><input name='options[]' type="checkbox" class="option justone" value='Option 3 '/> Option 3</label></a></li> {% endcomment %}
                                                </ul>
                                              </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="id_title">Title</label>
                                            {{ form.title }}
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label for="id_message">Message</label>
                                            {{ form.message }}
                                        </div>
                                     
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                <!-- Additional content goes here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <!-- DataTable -->
            <div class="full-editor mt-3">
                <div class="users">
                    <h3 class="page-title">Notification Detail</h3>
                </div>
                <table id="example" class="display nowrap" style="width:100%">
					<thead>
						
						<tr>
							<th>S.no</th>
							<th>User</th>
							<th>Title</th>
							<th>Message</th>
							<th>Action</th> 
						</tr>
					</thead>
					<tbody>
						{% for notification in notifications %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>
								{% for user in notification.users.all %}
									{{ user.username }}{% if not forloop.last %}, {% endif %}
								{% endfor %}
							</td>
							<td>{{ notification.title }}</td>
							<td>{{ notification.message }}</td>
							<td>
								<!-- Add your action buttons here -->
								<button class="btn btn-primary mb-2"><a class="edit-btn" href="{% url 'edit_notification' notification.id %}">Edit</a></button>
								<button class="btn btn-primary mb-2"><a class="edit-btn" href="{% url 'delete_notification' notification.id %}">Delete</a></button>
							</td>
						</tr>
					{% endfor %}

					</tbody>
                </table>
            </div>
            <!-- /DataTable -->

        </div>
    </div>

    <!-- DataTables Scripts -->
    
    {% comment %} <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script> {% endcomment %}
    {% comment %} SELECT TAG DROPDOEWN SCRIPT START {% endcomment %}
    <script src="{%static 'js/selects-dropdownss.js'%}">
        
    </script>
{% endblock %}
