{% extends 'base.html' %}

{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

<!-- Page Header -->
<div class="page-header">
<div class="row">
<div class="col-sm-12">
  <div class="card full-header">
    <div class="users">
      <h3 class="page-title">Property Update Property </h3>
    </div>
    <div class="user-box">
      <form method="POST" class="row">
        {% csrf_token %}
          
     
    
        <div class="form-group col-sm-6">
          <label>Username</label>
          {{user_form.username}}
        </div>
        <div class="form-group col-sm-6">
          <label>Email</label>
          {{user_form.email}}
        </div>
        <div class="form-group col-sm-6" style="display: none;">
          <label>Password</label>
          {{user_form.password}}
        </div>
         
         <div class="form-group col-sm-6" >
          <label>Property Name</label>
          {{property_form.property_name}}
        </div>
        <div class="form-group col-sm-6">
          <label>Address</label>
          {{property_form.address}}
        </div>
          
        <div class="form-group col-sm-12">
           <label>Mobile</label>
           {{property_form.mobile}}
          
        </div>  
    
    <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </div>
</div>
</div>
</div>
<!-- /Page Header -->

<div class="row">
<div class="col-sm-12">

</div>			
</div>

</div>			
</div>
<!-- /Page Wrapper -->

</div>
  {% comment %} <h2>Edit Property Owner</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- User Form Fields -->
    <h3>User Information</h3>
    {{ user_form.as_p }}
    
    <!-- Property Owner Form Fields -->
    <h3>Property Owner Information</h3>
    {{ property_form.as_p }}
    
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form> {% endcomment %}
{% endblock %}
