{% extends 'base.html'%}
{% block content %}
<style>
	.error-list {
		color: red;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
</style>
 {% load crispy_forms_tags %} 

			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<div class="card full-header">
									<div class="users">
										<h3 class="page-title">Property Add Property </h3>
									</div>
									<div class="user-box">
										<form method="POST" class="row">
											{% csrf_token %}
												
									

										 <div class="form-group col-sm-6">

												<label>Username</label>
												{{user_form.username}}
												{% if user_form.username.errors %}
													<ul class="error-list">
														{% for error in user_form.username.errors %}
															<li>{{ error }}</li>
															
														{% endfor %}
													</ul>
											    {% endif %}
											</div>
											<div class="form-group col-sm-6">
												<label>Email</label>
												{{user_form.email}}
												{% if user_form.email.errors %}
											<ul class="error-list">
												{% for error in user_form.email.errors %}
													<li>{{ error }}</li>
													
												{% endfor %}
											</ul>
										{% endif %}
											</div>
											<div class="form-group col-sm-12">
												<label>Password</label>
												 {{user_form.password}}
												 {% if user_form.password.errors %}
											<ul class="error-list">
												{% for error in user_form.password.errors %}
													<li>{{ error }}</li>
													
												{% endfor %}
											</ul>
										{% endif %}
												
											</div>
											 
											 <div class="form-group col-sm-6">
												<label>Property Name</label>
												{{property_form.property_name}}
												{% if property_form.property_name.errors %}
												<ul class="error-list">
													{% for error in property_form.property_name.errors %}
														<li>{{ error }}</li>
														
													{% endfor %}
												</ul>
											{% endif %}

											</div>
											<div class="form-group col-sm-6">
												<label>Address</label>
												{{property_form.address}}
												{% if property_form.address.errors %}
												<ul class="error-list">
													{% for error in property_form.address.errors %}
														<li>{{ error }}</li>
														
													{% endfor %}
												</ul>
											{% endif %}
											</div>
												
											<div class="form-group col-sm-12">
												 <label>Mobile</label>
												 {{property_form.mobile}}
												 {% if property_form.mobile.errors %}
												<ul class="error-list">
													{% for error in property_form.mobile.errors %}
														<li>{{ error }}</li>
														
													{% endfor %}
												</ul>
											{% endif %}
												
											</div>  
											<div class="form-group col-sm-12">
												<div class="button">
													<input type="submit" value=" Submit">
												</div>
												
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							
						</div>			
					</div>
					
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
		
		{% endblock %}