	<!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="active"> 
                        <a href="/"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                    </li>
                    <li class="submenu">
                        <a href="#" class=""><i class="fa fa-users "></i> <span> Property Owner </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="{% url 'add_property_owner'%}"> <i class="fa fa-angle-double-right" ></i> Add Property Owner </a></li>
                            <li><a href="{% url 'View_property_owner'%}"> <i class="fa fa-angle-double-right" ></i> View Property Owner  </a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#" class=""><i class="fa fa-tasks"></i> <span> Chat Question </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="{% url 'add_question'%}"> <i class="fa fa-angle-double-right" ></i> Add Chat Question </a></li>
                            <li><a href="{% url 'View_question'%}"> <i class="fa fa-angle-double-right" ></i> View Chat Question </a></li>
                        </ul>
                    </li>
                    {% comment %} <li class="submenu">
                        <a href="#" class=""><i class="fa fa-bandcamp "></i> <span> Manage Property </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            {% comment %} <li><a href="{% url 'add_manage_property'%}"> <i class="fa fa-angle-double-right" ></i> Add Manage Property </a></li>
                        </ul>
                    </li> {% endcomment %}
                    <li> 
                        <a href="{% url 'notification'%}"><i class="fa fa-question"></i> <span>Notification</span></a>
                    </li>
                    <li> 
                        <a href="{% url 'Privacy_Policy'%}"><i class="fa fa-briefcase"></i> <span>privacy policy</span></a>
                    </li>
                    <li> 
                        <a href="{% url 'terms_condition'%}"><i class="fa fa-briefcase"></i> <span>Terms & Condition</span></a>
                    </li>
                    <li> 
                        <a href="{% url 'chatbot_page'%}"><i class="fa fa-briefcase"></i> <span> Chat</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Sidebar -->