{% extends 'base.html'%}
{% block content %}

{% comment %} <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Terms And Condition HomeMapp Page</title>
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">		
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">		
        <link rel="stylesheet" href="assets/css/feathericon.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img src="assets/img/logo.png" alt="Logo">
					</a>
					<a href="index.html" class="logo logo-small">
						<img src="assets/img/logo-small.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>
				
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					<!-- App Lists -->
					<li class="nav-item dropdown app-dropdown">
						<a class="nav-link dropdown-toggle" aria-expanded="false" role="button" data-toggle="dropdown" href="#"><i class="fe fe-app-menu"></i></a>
						<ul class="dropdown-menu app-dropdown-menu">
							<li>
								<div class="app-list">
									<div class="row">
										<div class="col"><a class="app-item" href="inbox.html"><i class="fa fa-envelope"></i><span>Email</span></a></div>
										<div class="col"><a class="app-item" href="calendar.html"><i class="fa fa-calendar"></i><span>Calendar</span></a></div>
										<div class="col"><a class="app-item" href="#"><i class="fa fa-comments"></i><span>Chat</span></a></div>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<!-- /App Lists -->
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor"></span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>Ryan Taylor</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="profile.html">My Profile</a>
							<a class="dropdown-item" href="login.html">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
		<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li> 
								<a href="index.html"><i class="fe fe-home"></i> <span>Dashboard</span></a>
							</li>
							<li class="submenu">
								<a href="#" class=""><i class="fa fa-users "></i> <span> Property Owner </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="Pro_add_Property.html"> <i class="fa fa-angle-double-right" ></i> Add Property Owner </a></li>
									<li><a href="Pro_view__Property.html"> <i class="fa fa-angle-double-right" ></i> View Property Owner  </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#" class=""><i class="fa fa-tasks"></i> <span> Chat Question </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="Chat_add_question.html"> <i class="fa fa-angle-double-right" ></i> Add Chat Question </a></li>
									<li><a href="Chat_view_question.html"> <i class="fa fa-angle-double-right" ></i> View Chat Question </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#" class=""><i class="fa fa-bandcamp "></i> <span> Manage Property </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="Manage_add_Property.html"> <i class="fa fa-angle-double-right" ></i> Add Manage Property </a></li>
									<li><a href="Manage_view_Property.html"> <i class="fa fa-angle-double-right" ></i> View Manage Property </a></li>
								</ul>
							</li>
							<li> 
								<a href="Notification.html"><i class="fa fa-question"></i> <span>Notification</span></a>
							</li>
							<li> 
								<a href="privacy_policy.html"><i class="fa fa-briefcase"></i> <span>privacy policy</span></a>
							</li>
							<li class="active"> 
								<a href="terms_condition.html"><i class="fa fa-briefcase"></i> <span>Terms Condition</span></a>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar --> {% endcomment %}
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
							   <div class="card full-header">
								  <div class="text-editor">
									 <div class="users">
										 <h3 class="page-title">Terms And Condition</h3>
									 </div>
									  <div class="user-box">
								        <div class="datatables">
                                         {% comment %} <textarea id="myeditor" name="about"  class="form-control" rows="10" cols="80" Required></textarea> {% endcomment %}
										 <form method="post" enctype="multipart/form-data">
											{% csrf_token %}
											<div class="text-editor">
												<label for="id_terms_condition">Terms And Condition</label>
												<textarea id="myeditor" name="terms_condition" class="form-control" rows="10" cols="80" Required>{{ terms_data |safe }}</textarea>
												<script src="https://cdn.tiny.cloud/1/bipmow4lkz6ivlma357ta46a3z9l0e2dpuxap9eqizuo2j11/tinymce/5/tinymce.min.js"></script>
												<script type="text/javascript">
													CKEDITOR.editorConfig = function (config) {
														config.language = 'es';
														config.uiColor = '#F7B42C';
														config.height = 300;
														config.toolbarCanCollapse = true;
													};
													CKEDITOR.replace('myeditor');
												</script>
												<div class="submits-btns mt-4">
													<input class="btn btn-primary submit-btn" name="submit" type="submit">
												</div>
											</div>
										</form>
                                       </div>
                                       </div>
									</div>
									<!--  -->
									<div class="full-editor mt-3">
									   <div class="users">
										<h3 class="page-title">Terms And Condition Detail</h3>
									   </div>
                                     
                                        <table id="example" class="display nowrap" style="width:100%">
						        <thead>
						            <tr>
						            	<th>S.no</th>
						                <th>Terms And Condition</th>
						                <th>Action</th> 
						            </tr>
						        </thead>
						        <tbody>
									{% for tc in terms_data%}
						           <tr class="even">
	                                    <td>{{forloop.counter}}</td>                                   
	                                     <td>{{tc.terms_condition |safe }}</td>
	                                    <td>
	                                     {% comment %} <button class="btn btn-primary mb-2"><a class="edit-btn" href="#">Edit</a></button> {% endcomment %}
	                                      <button class="btn btn-primary mb-2"><a class="edit-btn" href="{% url 'delete_terms_condition' id=tc.id%}">Delete</a></button>
	                                  </td>
	                                </tr>
									{% endfor %}
	                                
	                           
						        </tbody>
						    </table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							
						</div>			
					</div>
					
				</div>			
			</div>
			<!-- /Page Wrapper -->
		
        </div>
		<!-- /Main Wrapper -->
{% comment %} 		
		<!-- jQuery -->
        <script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Slimscroll JS -->
        <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		
		<!-- Custom JS -->
		<script  src="assets/js/script.js"></script>
		<!-- DATATABLES  -->
<!--TEXT EDITOR SCRIPT START TEXT EDITOR SCRIPT START TEXT EDITOR SCRIPT START -->
     <script type="text/javascript" src="https://cdn.ckeditor.com/4.5.1/standard/ckeditor.js">
         </script>
         <script type="text/javascript">
        //resize CKEditor with customised height and width
     CKEDITOR.editorConfig = function (config) {
        config.language = 'es';
        config.uiColor = '#F7B42C';
        config.height = 300;
        config.toolbarCanCollapse = true;
    
    };
    CKEDITOR.replace('myeditor');
        </script>    
<!--DATATABLES SCRIPT START DATATABLES SCRIPT START DATATABLES SCRIPT START DATATABLES SCRIPT START -->
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
         <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
          <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
              <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
               <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
        <script>
            $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
        </script>


    </body>
</html> {% endcomment %}
{% endblock%}