 
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
 {% comment %}<!DOCTYPE html>
 {% load static %}

<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
           <title>USER MANAGEMENT ADMIN HOME PAGE </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
          <link rel="icon" href="images/fevicon.png" type="image/png" />
     
      <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" />
         <link rel="stylesheet" href="{%static 'style.css'%}" />
      
      <link rel="stylesheet" href="{%static 'css/responsive.css'%}" />
          <link rel="stylesheet" href="{%static 'css/colors.css'%}" />
       
      <link rel="stylesheet" href="{%static 'css/bootstrap-select.css'%}" />
      
      <link rel="stylesheet" href="{%static 'css/perfect-scrollbar.css'%}" />
           <link rel="stylesheet" href="{%static 'css/custom.css'%}" />

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

   </head> {% endcomment %}
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="index.html"><img class="logo_icon img-responsive" src="images/logo/logo_icon.png" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img">
                           <a href="index.html"><img class="img-responsive" src="images/logo/logo.png" alt="#"></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li >
                        <a href="#dashboard">
                           <i class="fa fa-dashboard yellow_color"></i> 
                           <span>Dashboard</span>
                        </a>
                    </li> 
                   
                     <li class="active">
                        <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>User Management</span></a>
                        <ul class="collapse list-unstyled" id="element">
                           <li><a href="user_management_add.html">> <span>Add User Management</span></a></li>
                           <li><a href="user_management_view.html">> <span>View User Managemen</span></a></li>
                        </ul>
                     </li>

                     <li>
                        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Driver Management</span></a>
                        <ul class="collapse list-unstyled" id="apps">
                           <li><a href="driver_management_add.html">> <span>Add Driver Management</span></a></li>
                           <li><a href="driver_management_view.html">> <span>View Driver Management</span></a></li>
                        </ul>
                     </li>

                        <li>
                        <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Admin Management</span></a>
                        <ul class="collapse list-unstyled" id="additional_page">
                           <li>
                              <a href="admin_management_add.html">> <span>Add Admin Management</span></a>
                           </li>
                           <li>
                              <a href="admin_management_view.html">> <span>View Admin Management</span></a>
                           </li>
                        </ul>
                     </li>
                      <li><a href="tables.html"><i class="fa fa-table purple_color2"></i> <span>Tables</span></a></li>
                      <li><a href="faq.html.html"><i class="fa fa-clock-o orange_color"></i> <span>Faq</span></a></li>
                     <li><a href="Report.html"><i class="fa fa-briefcase blue1_color"></i> <span>Report</span></a></li>
                     <li>
                        <a href="Notification.html">
                        <i class="fa fa-paper-plane red_color"></i> <span>Notification</span></a>
                     </li>
                     <li><a href="terms_condition.html"><i class="fa fa-map purple_color2"></i> <span>Terms and Condition </span></a></li>
                     <li><a href="privacy_policy.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Privacy Policy</span></a></li>
                     <li><a href="company_Licence.html"><i class="fa fa-cog yellow_color"></i> <span>Company Licence</span></a></li>
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="images/layout_img/user_img.jpg" alt="#" /><span class="name_user">John</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="profile.html">My Profile</a>
                                       <a class="dropdown-item" href="{% url 'login' %}"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Dashboard</h2>
                           </div>
                        </div>
                     </div>
                <!--  -->
                     <div class="row">
                       <div class="white_shd full">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Extra Area Chart</h2>
                                 </div>
                              </div>
                            <div class="users-forms">
                            <div class="row">
                               <div class="col-md-12">
                                    <div class="user-table">
                               <div class="datatables">
                                    <table id="example" class="display" style="width:100%;    border: 2px solid #20214f;">
                                        <thead>
                                            <tr>
                                                <th>S no</th>
                                               
                                                <th>Full Name</th>
                                                <th>Email </th>
                                                <th>Number</th>
                                                <th>Password</th>
                                                <th>Address</th>
                                               
                                                 <th>Action</th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for i in owner %}
                                            <tr class="even">
                                                <td>{{i.id}}</td>
                                                <td>{{i.user.full_name}}</td>
                                                
                                                <td> {{i.user.email}}</td>
                                                <td>{{i.mobile}}</td> 
                                                <td> {{i.user.password}}</td>
                                                <td>{{i.address}}</td>
                                               
                                                <td><div class="dropdown">
                                                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Action</button>
                                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                    <a class="dropdown-item" href="#">Delete</a>
                                              
                                                  </div>
                                                </div>
                                              </td>
                                            </tr>
                                           {% endfor %} 
                                          
                                           
                                        </tbody>
                                        </table>
                                   </div>
                     </div>
                               </div>
                            </div>
                            </div>
                           </div>
                     </div>
            <!--  -->
                  </div>
                  <!-- footer -->
                     <div class="footer">
                                 <div class="container-fluid">
                        <p>Copyright ©2023 All rights reserved | Design & Develop by
                           <a href="https://cyberimpulses.com/"> CISS</a>
                        </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>{% endblock %}

{% comment %} <!--DATATABLES SCRIPT START -->
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script>
            new DataTable('#example');
        </script>

      <script src="{%static 'js/jquery.min.js'%}"></script>
      <script src="{%static 'js/popper.min.js'%}"></script>
      <script src="{%static 'js/bootstrap.min.js'%}"></script>
      
      <script src="{%static 'js/animate.js'%}"></script>
     
      <script src="{%static 'js/bootstrap-select.js'%}"></script>
            <script src="{%static 'js/owl.carousel.js'%}"></script> 
        <script src="{%static 'js/Chart.min.js'%}"></script>
      <script src="{%static 'js/Chart.bundle.min.js'%}"></script>
      <script src="{%static 'js/utils.js'%}"></script>
      <script src="{%static 'js/analyser.js'%}"></script>
     
      <script src="{%static 'js/perfect-scrollbar.min.js'%}"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
         <script src="{%static 'js/custom.js'%}"></script>
      <script src="{%static 'js/chart_custom_style1.js'%}"></script>
   </body>
</html>   {% endcomment %}