<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
     
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
           <title>ADMIN HOME PAGE </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
     <link rel="icon" href="{%static 'images/fevicon.png'%}" type="image/png" />
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

      <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" />
      <link rel="stylesheet" href="{%static 'style.css'%}" />
      
      <link rel="stylesheet" href="{%static 'css/responsive.css'%}" />
      {% comment %} <link rel="stylesheet" href="{%static 'css/colors.css'%}" /> {% endcomment %}
       
      <link rel="stylesheet" href="{%static 'css/bootstrap-select.css'%}" />
      
      <link rel="stylesheet" href="{%static 'css/perfect-scrollbar.css'%}" />
      <link rel="stylesheet" href="{%static 'css/custom.css'%}" />

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

   </head>
   <body>
      {% include 'Owner/header.html'%}
      {% include 'Owner/sidebar.html'%}
        {% block content %}

        {% endblock %}
 </body>
   <script src="{%static 'js/jquery.min.js'%}"></script>
   <script src="{%static 'js/popper.min.js'%}"></script>
   <script src="{%static 'js/bootstrap.min.js'%}"></script>

   <script src="{%static 'js/animate.js'%}"></script>
  
   <script src="{%static 'js/bootstrap-select.js'%}"></script>
   <script src="{%static 'js/owl.carousel.js'%}"></script> 
    <script src="{%static 'js/Chart.min.js'%}"></script>
   <script src="{%static 'js/Chart.bundle.min.js'%}"></script>
   <script src="{%static 'js/utils.js'%}"></script>
   <script src="{%static 'js/analyser.js'%}"></script>
     <!--DATATABLES SCRIPT START DATATABLES SCRIPT START DATATABLES SCRIPT START DATATABLES SCRIPT START -->
     <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
     <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
          <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
           <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    {% comment %} <script>
        $(document).ready(function() {
$('#example').DataTable( {
    dom: 'Bfrtip',
    buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
    ]
} );
} );
    </script> {% endcomment %}
    <script>
        new DataTable('#example');
    </script>
   <script src="{%static 'js/perfect-scrollbar.min.js'%}"></script>
   <script>
      var ps = new PerfectScrollbar('#sidebar');
   </script>
   <script src="{%static 'js/custom.js'%}"></script>
   <script src="{%static 'js/chart_custom_style1.js'%}"></script>
   <script type="text/javascript" src="https://cdn.ckeditor.com/4.5.1/standard/ckeditor.js">
   </script>



   <script type="text/javascript">
 //resize CKEditor with customised height and width
CKEDITOR.editorConfig = function (config) {
  config.language = 'es';
  config.uiColor = '#F7B42C';
  config.height = 300;
  config.toolbarCanCollapse = true;

};
CKEDITOR.replace('myeditor');
 </script>

 <!-- SELECT DROPDOWN CHECKBOX SCRIPT START  -->
<script>
   $('body').on("click", ".dropdown-menu", function (e) {
       $(this).parent().is(".open") && e.stopPropagation();
   });
   
   $('.selectall').click(function() {
       if ($(this).is(':checked')) {
           $('.option').prop('checked', true);
           var total = $('input[name="options[]"]:checked').length;
           $(".dropdown-text").html('(' + total + ') Selected');
           $(".select-text").html(' Deselect');
       } else {
           $('.option').prop('checked', false);
           $(".dropdown-text").html('(0) Selected');
           $(".select-text").html(' Select');
       }
   });
   
   $("input[type='checkbox'].justone").change(function(){
       var a = $("input[type='checkbox'].justone");
       if(a.length == a.filter(":checked").length){
           $('.selectall').prop('checked', true);
           $(".select-text").html(' Deselect');
       }
       else {
           $('.selectall').prop('checked', false);
           $(".select-text").html(' Select');
       }
     var total = $('input[name="options[]"]:checked').length;
     $(".dropdown-text").html('(' + total + ') Selected');
   });
   </script>
</html>