{% extends "Owner/base.html" %}
{% load static %}
{% block content %}

<style>
   /* Add this to your CSS file */


.error-list {
    color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.error-list li {
    margin-top: 5px;
}

</style>

   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            
             <div id="content">
             
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Dashboard</h2>
                           </div>
                        </div>
                     </div>
                <!--  -->
                     <div class="row">
                       <div class="white_shd full">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Add Question Answer</h2>
                                 </div>
                              </div>
                            <div class="users-forms">
                            <div class="row">
                               <div class="col-md-12">
                                <form method="post" enctype="multipart/form-data"  class="row">
                                    {% csrf_token %}
                                    <div class="form-group col-sm-6">
                                        <div class="dropdown user-selects">
                                            <label for="id_title">Hotel</label>
                                            <button class="btn btn-default text-left form-control dropdown-toggle" type="button" data-toggle="dropdown">
                                                <span class="dropdown-text"> Select Options</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#"><label><input type="checkbox" class="selectall" /><span class="select-text"> Select</span> All</label></a></li>
                                                <li class="divider"></li>
                                                {% for user in chat_form.hotel.field.queryset %}
                                                    <li>
                                                        <a href="#">
                                                            <label>
                                                                <input id="id_hotel" name='hotel' type="checkbox" class="option justone" value="{{ user.id }}"/>
                                                                {{ user.property_name }}
                                                            </label>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                
                                    <div class="form-group col-sm-6">
                                        <label for="id_title">Room</label>
                                        <select id="id_room" name="room" class="form-control">
                                            <!-- Options will be dynamically populated using JavaScript -->
                                        </select>
                                    </div>
                                
                                    <div class="form-group col-sm-6">
                                        <label>Question</label>
                                        {{ chat_form.question }}
                                    </div>
                                
                                    <div class="form-group col-sm-6">
                                        <label>Answer</label>
                                        {{ chat_form.answer }}
                                    </div>
                                
                                    <div class="form-group col-sm-12">
                                        <div class="submit">
                                            <input type="submit" class="btn btn-primary" value="Submit">
                                        </div>
                                    </div>
                                </form>
                               </div>
                            
                            </div>
                            </div>
                           </div>
                     </div>
            <!--  -->
                  </div>
                  <!-- footer -->
                     <div class="footer">
                                 <div class="container-fluid">
                        <p>Copyright ©2023 All rights reserved | Design & Develop by
                           <a href="https://cyberimpulses.com/"> CISS</a>
                        </p>
                     </div>
                  </div>
               </div>
              
            </div>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script>
        $(document).ready(function () {
            $("#id_hotel").change(function () {
                var selectedHotelIds = $("input[name='hotel']:checked").map(function () {
                    return this.value;
                }).get();
    
                $.ajax({
                    url: '/get_rooms/',
                    type: 'POST',
                    data: {
                        'hotel_ids': selectedHotelIds,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        var roomDropdown = $("#id_room");
                        roomDropdown.empty();
    
                        $.each(data.rooms, function (index, room) {
                            roomDropdown.append('<option value="' + room.id + '">' + room.room_number + '</option>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
      
{% endblock %}