{% extends 'Owner/base.html' %}

{% block content %}
<body class="dashboard dashboard_1">
   <div class="full_container">
      <div class="inner_container">
         <div id="content">
            <div class="midde_cont">
               <div class="container-fluid">
                  <div class="row column_title">
                     <div class="col-md-12">
                        <div class="page_title">
                           <h2>Notification</h2>
                        </div>
                     </div>
                  </div>
             <!--  -->
                  <div class="row">
                    <div class="white_shd full">
                           <div class="full graph_head">
                              <div class="heading1 margin_0">
                                 <h2>Notification</h2>
                              </div>
                           </div>
                         <div class="users-forms">
                         <div class="row">
                            <div class="col-md-12">
                              <form method="post" enctype="multipart/form-data">
                                 {% csrf_token %}
                                 <div class="form-row">
                                     {% comment %} <div class="form-group col-sm-6">
                                         <label for="id_users">User</label>
                                         {{ form.users }}
                                     </div> {% endcomment %}
                                     <div class="form-group col-sm-6">
                                         <div class="dropdown user-selects">
                                             <label for="id_title">User</label>
                                             <button class="btn btn-default text-left form-control dropdown-toggle" type="button" data-toggle="dropdown"><span class="dropdown-text"> Select Options</span>
                                             <span class="caret"></span></button>
                                             <ul class="dropdown-menu">
                                                 {{ form.users }}
                                               {% comment %} <li><a href="#"><label><input type="checkbox" class="selectall" /><span class="select-text"> Select</span> All</label></a></li>
                                               <li class="divider"></li>
                                               <li><a class="option-link" href="#"><label><input name='options[]' type="checkbox" class="option justone" value='Option 1 '/> Option 1</label></a></li>
                                               <li><a href="#"><label><input name='options[]' type="checkbox" class="option justone" value='Option 2 '/> Option 2</label></a></li>
                                               <li><a href="#"><label><input name='options[]' type="checkbox" class="option justone" value='Option 3 '/> Option 3</label></a></li> {% endcomment %}
                                             </ul>
                                           </div>
                                     </div>
                                     <div class="form-group col-sm-6">
                                         <label for="id_title">Title</label>
                                         {{ form.title }}
                                     </div>
                                     <div class="form-group col-sm-12">
                                         <label for="id_message">Message</label>
                                         {{ form.message }}
                                     </div>
                                  
                                 </div>
                                 <button type="submit" class="btn btn-primary">Submit</button>
                             </form>
         </div>
         
      </div>
      <div class="fulls-headings mt-4">
         <h4> View Notification</h4>
       </div>
       <table id="example" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="example_info" style="margin: 20px 00px;">
         <thead>
           <tr role="row">
             <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Id: activate to sort column descending" style="width: 10%;" aria-sort="ascending">S.No</th>
             <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="box: activate to sort column ascending" style="width: 80%;">  User </th>
             <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="box: activate to sort column ascending" style="width: 80%;">  Title </th>
             <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="box: activate to sort column ascending" style="width: 80%;">  Message </th>
             <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 10%;">Action</th>
           </tr>
         </thead>
         <tbody>
           {% for notification in notifications %}
             <tr class="odd">
               <td>{{ forloop.counter }}</td>
               <td>{{ notification.user }}</td>
               <td>{{ notification.title }}</td>
               <td>{{ notification.message }}</td>
          
               <td>
                 <div class="dropdown">
                   <button class="btn mt-1 mb-1 btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               {% comment %} <a class="dropdown-item" onclick="updatetandc('{{ tandc.id }}', {{ tandc.terms|json_script }})" >Edit</a> {% endcomment %}
         <a class="dropdown-item" href="#">Edit</a>




                     <a class="dropdown-item" href="">Delete</a>
                   </div>
                 </div>
               </td>
             </tr>
           {% endfor %}
         </tbody>
       </table>
     </div>
   </div>
     </div>
</div>

</div>

         

        
    </section>
  </div>
</div>
</div>
</div>
<!-- end dashboard inner -->
</div>
</div>
</div>

  
{% endblock %}


  