<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
           <title>PROPERTY  MANAGEMENT OWNER HOME PAGE </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
          <link rel="icon" href="{%static 'images/fevicon.png'%}" type="image/png" />
     
      <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" />
         <link rel="stylesheet" href="{%static 'style.css'%}" />
      
      <link rel="stylesheet" href="{%static 'css/responsive.css'%}" />
          {% comment %} <link rel="stylesheet" href="{%static 'css/colors.css'%}" /> {% endcomment %}
       
      <link rel="stylesheet" href="{%static 'css/bootstrap-select.css'%}" />
      
      <link rel="stylesheet" href="{%static 'css/perfect-scrollbar.css'%}" />
           <link rel="stylesheet" href="{%static 'css/custom.css'%}" />

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
          {% include 'Owner/sidebar.html'%}
            <!-- end sidebar -->
            
            <div id="content">
              {% include 'Owner/header.html' %}
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Dashboard</h2>
                           </div>
                        </div>
                     </div>
                <!--  -->
                     <div class="row">
                       <div class="white_shd full">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Add Question Answer</h2>
                                 </div>
                              </div>
                            <div class="users-forms">
                            <div class="row">
                              <div class="col-md-7">
                                <form method="post" enctype="multipart/form-data" action="{% url 'Add_question_answer'%}" class="row">
                                    {% csrf_token %}
                                    <div class="form-group col-sm-6">
                                        <div class="dropdown user-selects">
                                            <label for="id_title">Hotel</label>
                                            <button class="btn btn-default text-left form-control dropdown-toggle" type="button" data-toggle="dropdown">
                                                <span class="dropdown-text"> Select Options</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#"><label><input type="checkbox" class="selectall" /><span class="select-text"> Select</span> All</label></a></li>
                                                <li class="divider"></li>
                                                {% for user in chat_form.hotel.field.queryset %}
                                                    <li>
                                                        <a href="#">
                                                            <label>
                                                                <input id="id_hotel" name='hotel' type="checkbox" class="option justone" value="{{ user.id }}"/>
                                                                {{ user.property_name }}
                                                            </label>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                
                                    <div class="form-group col-sm-6">
                                        <label for="id_title">Room</label>
                                        <select id="id_room" name="room" class="form-control">
                                            <!-- Options will be dynamically populated using JavaScript -->
                                        </select>
                                    </div>
                                
                                    <div class="form-group col-sm-6">
                                        <label>Question</label>
                                        {{ chat_form.question }}
                                    </div>
                                
                                    <div class="form-group col-sm-6">
                                        <label>Answer</label>
                                        {{ chat_form.answer }}
                                    </div>
                                
                                    <div class="form-group col-sm-12">
                                        <div class="submit">
                                            <input type="submit" class="btn btn-primary" value="Submit">
                                        </div>
                                    </div>
                                </form>
                               </div>
                               <div class="col-md-4">
                                <div class="full-img">
                                   <img src="{%static 'images/customer-img.png'%}">
                                </div>
                             </div>
                              
                     </div>
            <!--  -->
                  </div>
                  {% include 'Owner/footer.html' %}
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>


      
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


      <script>
        $(document).ready(function () {
            $("#id_hotel").change(function () {
                var selectedHotelIds = $("input[name='hotel']:checked").map(function () {
                    return this.value;
                }).get();
    
                $.ajax({
                    url: '/get_rooms/',
                    type: 'POST',
                    data: {
                        'hotel_ids': selectedHotelIds,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        var roomDropdown = $("#id_room");
                        roomDropdown.empty();
    
                        $.each(data.rooms, function (index, room) {
                            roomDropdown.append('<option value="' + room.id + '">' + room.room_number + '</option>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>


      <script>
          $(document).ready(function () {
              $('.delete-items-btn ').click(function () {
                  var itemsId = $(this).data('id');
                  console.log('Items ID:', itemsId);
                  Swal.fire({
                      title: 'Are you sure?',
                      text: "You won't be able to revert this!",
                      icon: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes, delete Items'
                  }).then((result) => {
                      if (result.isConfirmed) {
                          // Retrieve CSRF token from the cookie
                          var csrftoken = getCookie('csrftoken');
          
                          // Make an AJAX request to delete the question
                          $.ajax({
                              type: 'POST',
                              headers: { "X-CSRFToken": csrftoken },
                              url: "/delete_equipment/" + itemsId + "/",
                              

                              data: { id: itemsId },
                              success: function (response) {
                                  console.log('Items deleted successfully');
                                  var message = 'Items Deleted Successfully !!';
                                  if (response.msg == true) {
                                      window.location.reload();
                                  } else {
                                      $("#errorMessage").removeClass("d-none");
                                      $("#successMessage").addClass("d-none");
                                  }
                              },
                              error: function (error) {
                                  console.error('Error deleting items', error);
                                  // Handle error
                              }
                          });
                      }
                  });
              });
          
              // Function to get CSRF token from the cookie
              function getCookie(name) {
                  var cookieValue = null;
                  if (document.cookie && document.cookie !== '') {
                      var cookies = document.cookie.split(';');
                      for (var i = 0; i < cookies.length; i++) {
                          var cookie = $.trim(cookies[i]);
                          // Check if the cookie name matches the expected pattern
                          if (cookie.substring(0, name.length + 1) === (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
              }
          });
          
      </script>
     {% comment %} FOR SELECT ALL  {% endcomment %}

      <script>
        $('body').on("click", ".dropdown-menu", function (e) {
            $(this).parent().is(".open") && e.stopPropagation();
        });
        
        $('.selectall').click(function() {
            if ($(this).is(':checked')) {
                $('.option').prop('checked', true);
                var total = $('input[name="options[]"]:checked').length;
                $(".dropdown-text").html('(' + total + ') Selected');
                $(".select-text").html(' Deselect');
            } else {
                $('.option').prop('checked', false);
                $(".dropdown-text").html('(0) Selected');
                $(".select-text").html(' Select');
            }
        });
        
        $("input[type='checkbox'].justone").change(function(){
            var a = $("input[type='checkbox'].justone");
            if(a.length == a.filter(":checked").length){
                $('.selectall').prop('checked', true);
                $(".select-text").html(' Deselect');
            }
            else {
                $('.selectall').prop('checked', false);
                $(".select-text").html(' Select');
            }
          var total = $('input[name="options[]"]:checked').length;
          $(".dropdown-text").html('(' + total + ') Selected');
        });
    
    
    
        </script>

      {% comment %} <script src="{%static 'js/jquery.min.js'%}"></script> {% endcomment %}
      <script src="{%static 'js/popper.min.js'%}"></script>
      <script src="{%static 'js/bootstrap.min.js'%}"></script>
      
      <script src="{%static 'js/animate.js'%}"></script>
     
      <script src="{%static 'js/bootstrap-select.js'%}"></script>
      <script src="{%static 'js/owl.carousel.js'%}"></script> 
      <script src="{%static 'js/Chart.min.js'%}"></script>
      <script src="{%static 'js/Chart.bundle.min.js'%}"></script>
      <script src="{%static 'js/utils.js'%}"></script>
      <script src="{%static 'js/analyser.js'%}"></script>
     
      <script src="{%static 'js/perfect-scrollbar.min.js'%}"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
         <script src="{%static 'js/custom.js'%}"></script>
      <script src="{%static 'js/chart_custom_style1.js'%}"></script>
   </body>
</html>