 <!-- Sidebar  -->
 {% load static %}
 <nav id="sidebar">
    <div class="sidebar_blog_1">
       <div class="sidebar-header">
          <div class="logo_section">
             <a href="{% url 'login' %}"><img class="logo_icon img-responsive" src="{%static 'images/logo/logo_icon.png'%}" alt="#" /></a>
          </div>
       </div>
       <div class="sidebar_user_info">
          <div class="icon_setting"></div>
          <div class="user_profle_side"
          >
             <div class="user_img">
                <a href="{% url 'user_dashboard' %}"><img class="img-responsive" src="{%static 'images/logo/logo.png'%}" alt="#"></a>
             </div>
          </div>
       </div>
    </div>
    <!-- Sidebar -->
    <div class="sidebar_blog_2">
       <ul class="list-unstyled components">
          <li class="active">
             <a href="{% url 'user_dashboard' %}">
                <i class="fa fa-dashboard yellow_color"></i> 
                <span>Dashboard</span>
             </a>
         </li> 

         <li>
            <a href="#hotels" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Property Management</span></a>
            <ul class="collapse list-unstyled" id="hotels">
               <li><a href="{% url 'Add_hotel_management' %}">> <span>Add Property Management</span></a></li>
               <li><a href="{% url 'view_hotel_management' %}">> <span>View Property Management</span></a></li>
            </ul>
         </li>

         <li>
            <a href="#property" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span> Room Management</span></a>
            <ul class="collapse list-unstyled" id="property">
               <li><a href="{% url 'add_property_management' %}">> <span>Add Room Management</span></a></li>
               <li><a href="{% url 'view_property_management' %}">> <span>View Room Management</span></a></li>
            </ul>
         </li>
         <li>
            <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Chat Management</span></a>
            <ul class="collapse list-unstyled" id="element">
               <li><a href="{% url 'Add_chat_management' %}">> <span>Add Chat Management</span></a></li>
               <li><a href="{% url 'view_chat_management' %}">> <span>View Chat Management</span></a></li>
            </ul>
         </li>
          <li>
             <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>User Management</span></a>
             <ul class="collapse list-unstyled" id="element">
                <li><a href="{% url 'Add_user_management' %}">> <span>Add User Management</span></a></li>
                <li><a href="{% url 'View_user_management' %}">> <span>View User Management</span></a></li>
             </ul>
          </li>

             <li>
             <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Items Management</span></a>
             <ul class="collapse list-unstyled" id="additional_page">
                <li><a href="{% url 'Add_room' %}">> <span> Add Items </span></a></li>
                <li><a href="{% url 'View_room' %}">> <span> View Items </span></a></li>
             </ul>
          </li>
         
           <li><a href="{% url 'Faq' %}"><i class="fa fa-clock-o orange_color"></i> <span>Faq</span></a></li>
          {% comment %} <li>
             <a href="{% url 'Notification_user' %}">
             <i class="fa fa-paper-plane red_color"></i> <span>Notification</span></a>
          </li> {% endcomment %}
          <li><a href="{% url 'Terms_condition_user' %}"><i class="fa fa-map purple_color2"></i> <span>Terms and Condition </span></a></li>
          <li><a href="{% url 'Privacy_policy_user' %}"><i class="fa fa-bar-chart-o green_color"></i> <span>Privacy Policy</span></a></li>
          <li> 
            <a href="{% url 'chat_owner'%}"><i class="fa fa-briefcase"></i> <span> Chat</span></a>
        </li>
         </ul>
    </div>
    <!-- Sidebar -->
 </nav>
 <!-- end sidebar -->