<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
           <title>TERMS AND CONDITION HOMEMAPP PAGE </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
          <link rel="icon" href="{%static 'images/fevicon.png'%}" type="image/png" />
     
      <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" />
         <link rel="stylesheet" href="{%static 'style.css'%}" />
      
      <link rel="stylesheet" href="{%static 'css/responsive.css'%}" />
          <link rel="stylesheet" href="{%static 'css/colors.css'%}" />
       
      <link rel="stylesheet" href="{%static 'css/bootstrap-select.css'%}" />
      
      <link rel="stylesheet" href="{%static 'css/perfect-scrollbar.css'%}" />
           <link rel="stylesheet" href="{%static 'css/custom.css'%}" />

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

   </head>
   <style>   .users-forms{
    padding: 10px 10px; 
  }
  .users-forms p {
    color: #58718a;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 1rem;
  }
  
  .users-forms p strong {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    padding: 9px 0px;
    font-size: 17px;
  } </style>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
          {% include 'Owner/sidebar.html'%}
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
              {% include 'Owner/header.html'%}
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Terms and Condition</h2>
                           </div>
                        </div>
                     </div>
                <!--  -->
                    <div class="row">
                    <div class="white_shd full">
                                  <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2> Terms & Condition </h2>
                                 </div>
                              </div>
                                  <div class="customer-form">
                                     <div class="row">
                                       <div class="col-sm-12">
                                        {% for tandc in terms_data %}
                              
                                        {{ tandc.terms_condition|safe }}
                                     
                                       
                                      {% endfor %}
                                   </div>
                                 </div>
                                 </div>
                  </div>         
               </div>
               <!--  -->
                  </div>
            <!--  -->
                  </div>
                  <!-- footer -->
                   {% include 'Owner/footer.html'%}
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <script src="{%static 'js/jquery.min.js'%}"></script>
      <script src="{%static 'js/popper.min.js'%}"></script>
      <script src="{%static 'js/bootstrap.min.js'%}"></script>
      
      <script src="{%static 'js/animate.js'%}"></script>
     
      <script src="{%static 'js/bootstrap-select.js'%}"></script>
            <script src="{%static 'js/owl.carousel.js'%}"></script> 
        <script src="{%static 'js/Chart.min.js'%}"></script>
      <script src="{%static 'js/Chart.bundle.min.js'%}"></script>
      <script src="{%static 'js/utils.js'%}"></script>
      <script src="{%static 'js/analyser.js'%}"></script>
     
      <script src="{%static 'js/perfect-scrollbar.min.js'%}"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
         <script src="{%static 'js/custom.js'%}"></script>
      <script src="{%static 'js/chart_custom_style1.js'%}"></script>

    
        <!-- TEXT EDITOR SCRIPT END -->
        <!--DATATABLES SCRIPT START DATATABLES SCRIPT START DATATABLES SCRIPT START DATATABLES SCRIPT START -->
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
         <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
          <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
              <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
               <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
      
        
   </body>
</html>