<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
           <title>PROPERTY  MANAGEMENT OWNER HOME PAGE </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
          <link rel="icon" href="{%static 'images/fevicon.png'%}" type="image/png" />
     
      <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" />
         <link rel="stylesheet" href="{%static 'style.css'%}" />
      
      <link rel="stylesheet" href="{%static 'css/responsive.css'%}" />
          {% comment %} <link rel="stylesheet" href="{%static 'css/colors.css'%}" /> {% endcomment %}
       
      <link rel="stylesheet" href="{%static 'css/bootstrap-select.css'%}" />
      
      <link rel="stylesheet" href="{%static 'css/perfect-scrollbar.css'%}" />
           <link rel="stylesheet" href="{%static 'css/custom.css'%}" />

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
          {% include 'Owner/sidebar.html'%}
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
              {% include 'Owner/header.html' %}
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Dashboard</h2>
                           </div>
                        </div>
                     </div>
                <!--  -->
                     <div class="row">
                       <div class="white_shd full">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Add User</h2>
                                 </div>
                              </div>
                            <div class="users-forms">
                            <div class="row">
                              <div class="col-md-7">
                                 <form action="{% url 'Add_user_management'%}" method="post" enctype="multipart/form-data" nonvalidate>
                                    {% csrf_token %}
                                <div class="form-group row add-user">
                                   <div class="form-group col-md-12">
                                     
                                      <label for="exampleInputPassword1">Select Flat</label>
                                      <select id="id_hotel" name="hotel_name" class="form-control user-fill" onchange="load_rooms()">
                                       {% for choice in user_form.hotel_name.field.choices %}
                                           <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                       {% endfor %}
                                   </select>
                                  </div>
                                  <div class="form-group col-sm-12">
                                    <label for="id_title">Room</label>
                                    <select id="id_room" name="room_number" class="form-control">
                                        <!-- Options will be dynamically populated using JavaScript -->
                                    </select>
                                </div>
                                 {% comment %} <div class="form-group col-md-12">
                                   <i class="fa fa-user icon-user"></i>
                                <label for="exampleInputPassword1"> Room No</label>
                                <input type="text" class="form-control  user-fill" id="user-add-form" placeholder=" Items Name">
                              </div> {% endcomment %}
                                 <div class="form-group col-md-12">
                                       <i class="fa fa-user icon-user"></i>
                                    <label for="exampleInputPassword1">Name</label>
                                    {{form.username}}
                                    {% if form.username.errors %}
                                      <ul>
                                         {% for error in form.username.errors %}
                                            <li>{{ error }}</li>
                                            
                                         {% endfor %}
                                      </ul>
                                    {% endif %}
                                  </div>
                                   
                                   <div class="form-group col-md-6 ">
                                       <i class="fa fa-envelope icon-user"></i>
                                    <label for="exampleInputPassword1">Email</label>
                                    {% comment %} <input type="text" class="form-control  user-fill" id="user-add-form" placeholder="Email"> {% endcomment %}
                                    {{form.email}}
                                    {% if form.email.errors %}
                                      <ul class="error-list">
                                         {% for error in form.email.errors %}
                                            <li>{{ error }}</li>
                                            
                                         {% endfor %}
                                      </ul>
                                    {% endif %}
                                  </div>
                                   <div class="form-group col-md-6">
                                      <i class="fa fa-key icon-user"></i>
                                       <label for="exampleInputPassword1">Password</label>
                                      {{form.password}}
                                      {% if form.password.errors %}
                                      <ul>
                                         {% for error in form.password.errors %}
                                            <li>{{ error }}</li>
                                            
                                         {% endfor %}
                                      </ul>
                                    {% endif %}
                                   </div>
                                   <div class="form-group col-md-12">
                                      <i class="fa fa-mobile icon-user"></i>
                                   <label for="exampleInputPassword1">Mobile</label>
                                    {{user_form.mobile}}
                                    {% if user_form.mobile.errors %}
                                    <ul>
                                       {% for error in user_form.mobile.errors %}
                                          <li>{{ error }}</li>
                                          
                                       {% endfor %}
                                    </ul>
                                  {% endif %}
                                   {% comment %} <input type="text" class="form-control  user-fill" id="user-add-form" placeholder="Name"> {% endcomment %}
                                 </div>
                                  
                                    <div class="form-group col-md-12">
                                       <i class="fa fa-envelope icon-user"></i>
                                    <label for="exampleInputPassword1">Address</label>
                                    {% comment %} <textarea type="text" class="form-control  user-fill" id="user-add-form" placeholder="Enter Your Address"></textarea> {% endcomment %}
                                    {{user_form.address}}
                                    {% if user_form.address.errors %}
                                    <ul>
                                       {% for error in user_form.address.errors %}
                                          <li>{{ error }}</li>
                                          
                                       {% endfor %}
                                    </ul>
                                  {% endif %}
                                  </div>

                                  <div class="form-group col-md-12">
                                   <i class="fa fa-user icon-user"></i>
                                   <label for="exampleInputPassword1"> Profile Image</label><br>
                                   
                                   <input type="file" name="user_image" class="form-control" accept="image/*" required="" id="id_user_image">
                                   
                                 </div>
                               <div class="form-group col-md-12">
                                  <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                             </div>
                             </form>
                               </div>
                               <div class="col-md-4">
                                  <div class="full-img">
                                     <img src="{%static 'images/customer-img.png'%}">
                                  </div>
                               </div>
                            </div>
                            </div>
                           </div>
                     </div>
            <!--  -->
                  </div>
                  {% include 'Owner/footer.html' %}
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


      <script>
        $(document).ready(function () {
            $("#id_hotel").change(function () {
               var selectedHotelIds = [$("#id_hotel").val()];
    
                $.ajax({
                    url: '/get_rooms/',
                    type: 'POST',
                    data: {
                        'hotel_ids': selectedHotelIds,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        var roomDropdown = $("#id_room");
                        roomDropdown.empty();
    
                        $.each(data.rooms, function (index, room) {
                            roomDropdown.append('<option value="' + room.id + '">' + room.room_number + '</option>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>

      {% comment %} <script src="{%static 'js/jquery.min.js'%}"></script> {% endcomment %}
      <script src="{%static 'js/popper.min.js'%}"></script>
      <script src="{%static 'js/bootstrap.min.js'%}"></script>
      
      <script src="{%static 'js/animate.js'%}"></script>
     
      <script src="{%static 'js/bootstrap-select.js'%}"></script>
            <script src="{%static 'js/owl.carousel.js'%}"></script> 
        <script src="{%static 'js/Chart.min.js'%}"></script>
      <script src="{%static 'js/Chart.bundle.min.js'%}"></script>
      <script src="{%static 'js/utils.js'%}"></script>
      <script src="{%static 'js/analyser.js'%}"></script>
     
      <script src="{%static 'js/perfect-scrollbar.min.js'%}"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
         <script src="{%static 'js/custom.js'%}"></script>
      <script src="{%static 'js/chart_custom_style1.js'%}"></script>
   </body>
</html>