{% extends 'Owner/base.html'%}
{% block content %}

{% comment %} <!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
           <title>USER MANAGEMENT ADMIN HOME PAGE </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
          <link rel="icon" href="images/fevicon.png" type="image/png" />
     
      <link rel="stylesheet" href="css/bootstrap.min.css" />
         <link rel="stylesheet" href="style.css" />
      
      <link rel="stylesheet" href="css/responsive.css" />
          <link rel="stylesheet" href="css/colors.css" />
       
      <link rel="stylesheet" href="css/bootstrap-select.css" />
      
      <link rel="stylesheet" href="css/perfect-scrollbar.css" />
           <link rel="stylesheet" href="css/custom.css" />

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
          <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

   </head>{% endcomment %}
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            {% comment %} <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="index.html"><img class="logo_icon img-responsive" src="images/logo/logo_icon.png" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img">
                           <a href="index.html"><img class="img-responsive" src="images/logo/logo.png" alt="#"></a>
                        </div>
                     </div>
                  </div>
               </div> 
               <!-- Sidebar -->
               <div class="sidebar_blog_2">
                  <ul class="list-unstyled components">
                     <li>
                        <a href="#dashboard">
                           <i class="fa fa-dashboard yellow_color"></i> 
                           <span>Dashboard</span>
                        </a>
                    </li> 
                   
                     <li class="active">
                        <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>User Management</span></a>
                        <ul class="collapse list-unstyled" id="element">
                           <li><a href="user_management_add.html">> <span>Add User Management</span></a></li>
                           <li><a href="user_management_view.html">> <span>View User Managemen</span></a></li>
                        </ul>
                     </li>

                        <li>
                        <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Room Management</span></a>
                        <ul class="collapse list-unstyled" id="additional_page">
                           <li><a href="rooms_add_room.html">> <span> Add Rooms </span></a></li>
                           <li><a href="rooms_view_room.html">> <span> View Rooms </span></a></li>
                        </ul>
                     </li>
                    
                      <li><a href="faq.html.html"><i class="fa fa-clock-o orange_color"></i> <span>Faq</span></a></li>
                     <li>
                        <a href="Notification.html">
                        <i class="fa fa-paper-plane red_color"></i> <span>Notification</span></a>
                     </li>
                     <li><a href="terms_condition.html"><i class="fa fa-map purple_color2"></i> <span>Terms and Condition </span></a></li>
                     <li><a href="privacy_policy.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Privacy Policy</span></a></li>
                  </ul>
               </div>
               <!-- Sidebar -->
            </nav>
            <!-- end sidebar --> {% endcomment %}
            <!-- right content -->
            <div id="content">
               {% comment %} <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="images/layout_img/user_img.jpg" alt="#" /><span class="name_user">John</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="profile.html">My Profile</a>
                                       <a class="dropdown-item" href="login.html"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div> {% endcomment %}
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Dashboard</h2>
                           </div>
                        </div>
                     </div>
                <!--  -->
                     <div class="row">
                       <div class="white_shd full">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>  View User Management</h2>
                                 </div>
                              </div>
                            <div class="users-forms">
                            <div class="row">
                               <div class="col-md-12">
                                    <div class="user-table">
                               <div class="datatables">
                                    <table id="example" class="display" style="width:100%;    border: 2px solid #20214f;">
                                        <thead>
                                            <tr>
                                                <th>S no</th>
                                                <th>Username</th>
                                               
                                                <th>Email </th>
                                                <th>Number</th>
                                               
                                                <th>Address</th>
                                                <th>Profile Image </th>
                                               
                                                 <th>Action</th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for property in property_management %}
                                            <tr class="even">
                                                <td>{{forloop.counter}}</td>
                                                <td>{{property.flat_name}}</td>
                                                <td>{{property.room_number}}</td>
                                                <td>{{property.room_name}}</td>
                                                <td>{{property.room_description}}</td> 
                                                
                                                <td><img src="{{ property.room_image.url }}" alt="User Image" style="max-width: 100px;" ></td>
                                             <td>
                                        <button class="btn btn-primary mb-2"><a class="edit-btn" href="{% url 'edit_room' property.id %}">Edit</a></button>
                                        <button class="btn btn-primary delete-question-btn " data-id="{{property.id}}">Delete </button>
                                     </td>
                                            </tr>
                                            
                                           {% endfor %}
                                        </tbody>
                                        </table>
                                   </div>
                     </div>
                               </div>
                            </div>
                            </div>
                           </div>
                     </div>
            <!--  -->
                  </div>
                  <!-- footer -->
                     <div class="footer">
                                 <div class="container-fluid">
                        <p>Copyright ©2023 All rights reserved | Design & Develop by
                           <a href="https://cyberimpulses.com/"> CISS</a>
                        </p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script>
         $(document).ready(function () {
            $('.delete-question-btn').click(function () {
               var propertyId = $(this).data('id');
               console.log('Question ID:', propertyId);
               Swal.fire({
                  title: 'Are you sure?',
                  text: "You won't be able to revert this!",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete Property Management '
               }).then((result) => {
                  if (result.isConfirmed) {
                     // Retrieve CSRF token from the cookie
                     var csrftoken = getCookie('csrftoken');
         
                     // Make an AJAX request to delete the question
                     $.ajax({
                        type: 'DELETE',
                        headers: { "X-CSRFToken": csrftoken },
                        url: "/delete_property_management/" + propertyId + "/",
                        

                        data: { id: propertyId },
                        success: function (response) {
                           console.log('Property Management deleted successfully');
                           var message = 'Property Management  Successfully !!';
                           if (response.msg == true) {
                              window.location.reload();
                           } else {
                              $("#errorMessage").removeClass("d-none");
                              $("#successMessage").addClass("d-none");
                           }
                        },
                        error: function (error) {
                           console.error('Error deleting property management ', error);
                           // Handle error
                        }
                     });
                  }
               });
            });
         
            // Function to get CSRF token from the cookie
            function getCookie(name) {
               var cookieValue = null;
               if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                     var cookie = $.trim(cookies[i]);
                     // Check if the cookie name matches the expected pattern
                     if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                     }
                  }
               }
               return cookieValue;
            }
         });
         
      </script>
{% endblock %}