<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title> Chat Add Question HomeMapp </title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{%static 'assets/img/favicon.png'%}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css'%}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/font-awesome.min.css'%}">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/feathericon.min.css'%}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
		
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			{% include 'Superadmin/header.html'%}
			{% include 'Superadmin/sidebar.html'%}
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<div class="card full-header">
									<div class="users">
										<h3 class="page-title">Chat Add Question </h3>
									</div>
									<div class="user-box">
										<form method="post" class=" row">
											{% csrf_token %}
											<div class="form-group col-sm-6">
												<label for="id_users">Hotel</label>
												{{ question_form.hotel }}
											</div>
											<div class="form-group col-sm-6">
												<label for="id_users">Room</label>
												{{ question_form.room }}
											</div>
											<div class="form-group col-sm-6">
												<label>Question</label>
												{{question_form.question}}
											</div>
											<div class="form-group col-sm-6">
												<label>Answer</label>
												{{question_form.answer}}
											</div>

{% comment %} 
											<div class="form-group  full-anslist col-sm-12">
												<label><h5>Que. What payment methods will you accept for rent?</h5></label><br>
												<label class="answer-lists">
													<p> A) Landlords who only accept cash should be avoided at all costs.</p>
													<p> B) Landlords are allowed to designate which forms of payments they will accept, but the best landlords make it easy for a tenant to pay.</p>
													<p> c) Online payments are the best way to pay rent (in my opinion), because it allows for automation, security, and convenience for both tenant and landlord..</p>
												</label>
												<div class="answer">
						                           <label for="html" style="padding: 6px 5px;"> Ans.  </label>
						                           <input type="text" name="answer1" class="form-control" placeholder="Enter Answer">
						                       </div>
											</div>
											<div class="form-group  full-anslist col-sm-6">
												<label><h5>Que. What payment methods will you accept for rent?</h5></label><br>
												<label class="answer-lists">
													<p> A) Landlords who only accept cash should be avoided at all costs.</p>
													<p> B) Landlords are allowed to designate which forms of payments they will accept, but the best landlords make it easy for a tenant to pay.</p>
													<p> c) Online payments are the best way to pay rent (in my opinion), because it allows for automation, security, and convenience for both tenant and landlord..</p>
												</label>
												<div class="answer">
						                           <label for="html" style="padding: 6px 5px;"> Ans.  </label>
						                           <input type="text" name="answer1" class="form-control" placeholder="Enter Answer">
						                       </div>
											</div>
											<div class="form-group  full-anslist col-sm-6">
												<label><h5>Que. What payment methods will you accept for rent?</h5></label><br>
												<label class="answer-lists">
													<p> A) Landlords who only accept cash should be avoided at all costs.</p>
													<p> B) Landlords are allowed to designate which forms of payments they will accept, but the best landlords make it easy for a tenant to pay.</p>
													<p> c) Online payments are the best way to pay rent (in my opinion), because it allows for automation, security, and convenience for both tenant and landlord..</p>
												</label>
												<div class="answer">
						                           <label for="html" style="padding: 6px 5px;"> Ans.  </label>
						                           <input type="text" name="answer1" class="form-control" placeholder="Enter Answer">
						                       </div>
											</div> {% endcomment %}
											
											<div class="form-group col-sm-12">
												<div class="submit">
													<input type="submit" class="form-control bg-submits" value=" Submit">
													{% comment %} <a href="#" class="form-control bg-submits"> Submit</a> {% endcomment %}
												</div>
												
											</div>
										</form>

									

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							
						</div>			
					</div>
					
				</div>			
			</div>
			<!-- /Page Wrapper -->
			{% include 'Superadmin/footer.html'%}
		
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="{%static 'assets/js/jquery-3.6.0.min.js'%}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{%static 'assets/js/bootstrap.bundle.min.js'%}"></script>
		
		<!-- Slimscroll JS -->
        <script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>
		
		<!-- Custom JS -->
		<script  src="{%static 'assets/js/script.js'%}"></script>
		
    </body>
</html>