<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title> Chat Add Question HomeMapp </title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{%static 'assets/img/favicon.png'%}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css'%}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/font-awesome.min.css'%}">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/feathericon.min.css'%}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
		
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			{% include 'Superadmin/header.html'%}
			{% include 'Superadmin/sidebar.html'%}
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<div class="card full-header">
									<div class="users">
										<h3 class="page-title">Chat Add Question </h3>
									</div>
									{% if messages %}
									<div class="messages">
									   {% for message in messages %}
										  <div class="alert alert-{{ message.tags }}">
											 {{ message }}
										  </div>
									   {% endfor %}
									</div>
								 {% endif %}
									<div class="user-box">
										<form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form }}
                                            <button type="submit">Import</button>
                                        </form>
									<div class="import mb-3">
										<a href="{% url 'import_csv' %}">
											<input type="submit" class="btn btn-success bg-submits" value="Import Csv/Excel File">
										</a>
									</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							
						</div>			
					</div>
					
				</div>			
			</div>
			<!-- /Page Wrapper -->
			{% include 'Superadmin/footer.html'%}
		
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="{%static 'assets/js/jquery-3.6.0.min.js'%}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{%static 'assets/js/bootstrap.bundle.min.js'%}"></script>
		
		<!-- Slimscroll JS -->
        <script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>
		
		<!-- Custom JS -->
		<script  src="{%static 'assets/js/script.js'%}"></script>
		
    </body>
</html>